html {
  font-size: 16px;
}

.text-biru {
  color: #0c1740;
}

.button-biru {
  background-color: #0c1740;
  color: white;
}

body {
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0;
}

.form-login {
  border-radius: 30px;
  padding: 30px 70px 0 70px;
  background-color: rgba(255, 255, 255, 0.46);
  margin-top: 8rem;
}

.form-login .header h1 {
  color: #0c1740;
  font-weight: bold;
  text-align: center;
}

section {
  padding-top: 0.1rem !important;
}

.bgImage {
  background-image: url("/tubesmvc/public/asset/image/background/startup.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.top-navbar {
  background-color: #0c1740;
}

.badge {
  background-color: #0c1740 !important;
  height: 2.5rem !important;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 500px;
}

.card-img {
  max-width: 100%;
}

.card-body {
  text-align: center;
  max-height: 72px;
}

.card-info-box {
  background-color: #2b4658;
  padding: 10px;
  color: white;
  text-align: start;
}

.mt-n1 {
  margin-top: -1rem !important;
}

.formku {
  height: 3rem;
  border-radius: 30px;
}

.form-lengkapi-profil {
  margin-top: 6rem;
  padding: 0 15rem;
}

.input-text-profile {
  width: 100%;
  height: 3rem;
}

.lebar-button-7rem {
  width: 7rem;
}

html {
  font-size: 16px;
}

.text-biru {
  color: #0C1740;
}

.button-biru {
  background-color: #0C1740;
  color: white;
}

body {
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0;
}

.form-login {
  border-radius: 30px;
  padding: 30px 70px 0 70px;
  background-color: rgba(255, 255, 255, 0.46);
  margin-top: 8rem;
}

.form-login .header h1 {
  color: #0C1740;
  font-weight: bold;
  text-align: center;
}

section {
  padding-top: 0.1rem !important;
}

.bgImage {
  background-image: url("/tubesmvc/public/asset/image/background/startup.png");
  background-position: 0px -300px;
  background-repeat: no-repeat;
}

.top-navbar {
  background-color: #0c1740;
}

.badge {
  background-color: #0c1740 !important;
  height: 2.5rem !important;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 500px;
}

.card-img {
  max-width: 100%;
}

.card-body {
  text-align: center;
  max-height: 72px;
}

.card-info-box {
  background-color: #2b4658;
  padding: 10px;
  color: white;
  text-align: start;
}

.mt-n1 {
  margin-top: -1rem !important;
}

.formku {
  height: 3rem;
  border-radius: 30px;
}
