body {
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.top-navbar {
    background-color: #0C1740;
}

/* .btn-success {
    background-color: #CAD6FF !important;
    color: #0C1740 !important;
    border-color: #CAD6FF !important;
} */